<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form method="post" action="/listings">
        <h2>Add New Listing</h2>
        <input name="listing[title]" placeholder="Enter Title">
        <br><br />

        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br><br />

        <input name="listing[image]" placeholder="Enter Image URL">
        <br><br />

        <input name="listing[price]" placeholder="Enter Price" type="number">
        <br><br />

        <input name="listing[location]" placeholder="Enter Location">
        <br><br />

        <input name="listing[country]" placeholder="Enter Country">
        <br><br />
        <button type="submit">Add Listing</button><br><br />

    </form>
</body>
</html>